
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 252 94% 67%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .chain-badge {
    @apply px-2 py-1 rounded text-white text-xs font-semibold;
  }
  
  .chain-badge-babylon {
    @apply bg-chain-babylon;
  }
  
  .chain-badge-xion {
    @apply bg-chain-xion;
  }
  
  .chain-badge-ethereum {
    @apply bg-chain-ethereum;
  }
  
  .chain-badge-bob {
    @apply bg-chain-bob;
  }
  
  .chain-badge-corn {
    @apply bg-chain-corn;
  }
}
